@import url("https://use.typekit.net/fqk3xko.css");

.logo {
  font-family: source-code-pro, monospace;
  font-weight: 500;
  font-style: normal;

  text-align: center;

  border-style: solid;
}

.header {
  font-family: freight-sans-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.nav-bar {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

.nav-bar li {
  float: left;
  border-right: 1px solid #bbb;
}

.nav-bar li a {
  display: block;
  color: White;
  text-align: Center;
  padding: 14px 16px;
  text-decoration: none;
}

#active {
  background-color: #d63031;
}

.nav-bar li:hover {
  background-color: #e74c3c;

}

.content {
  color: #2d3436;
}

.content p{
  font-family: freight-sans-condensed-pro-l, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px
}

.content h1 {
  font-family: freight-sans-condensed-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.a-links {
  text-decoration: none;
  color: #2d3436;

  background-image: linear-gradient(#f1c40f, #f1c40f);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 2px;
}

.a-links:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
}

.a-links {
  transition: background-size .5s, background-position .3s ease-in .5s;
}
.a-links:hover {
  transition: background-position .5s, background-size .3s ease-in .5s;
}

.schedule-content h1 {
  font-family: freight-sans-condensed-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.item-table, .service-table {
  border-style: solid;
  border-color: #2d3436;
  border-size: 2px;
}

.item-table tr th, .service-table tr th {
  font-family: freight-sans-condensed-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.item-table tr th + td, .service-table tr th + td {
  font-family: freight-sans-condensed-pro-l, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px
}

.footer {
  position: fixed;
  background-color: #333;
  color: White;
  width: 100%;
  height: 100px;
  text-align: center;
  bottom: 0;
  left:0;

  font-family: freight-sans-condensed-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
